.marker__container {
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    text-align: center;
}

.marker__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.250rem;

}

.marker__header img{
    width: 5vw;
    height: 5vw;
}

.marker__header h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.gm-style-iw-t{
    bottom: 7vh !important;
    left: 0vh;
}

.gm-style .gm-style-iw-c {
    background: none;
}

.gm-style .gm-style-iw-tc::after{
    background: rgba(255, 255, 255, 0.549);
}


@media screen and (max-width: 500px) {

    .gm-style .gm-style-iw-tc::after{
        background: white;
    }

    .gm-style .gm-style-iw-c{
        padding: 0px;
    }

    .marker__container{
        width: 100px;
        padding: 5px;
    }

    .marker__header h2{
        font-size: 10px;
    }

    .marker__header img{
        width: 10vh;
        height: 10vh;
    }

}