:root {
  background: white;
}

[data-theme="dark"] {
  --rounded-box: 0px;
  --rounded-btn: 0px;
  --rounded-badge: 0px;
}

.iw {
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 16px;
  padding: 3px;
  break-inside: avoid;
  display: flex;
  align-items: center;
}

.gatoLlorando {
  margin-right: 5px;
  background-position: -48px -744px;
  background: url(//cdn.fbicons.net/i2.webp?v=1573165257) no-repeat top left;
  display: inline-block;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
}

.input:focus {
  border-color: rgb(
    98,
    64,
    221
  ) !important; /* Cambia "red" al color que desees */
  box-shadow: 0 0 0 2px rgba(132, 27, 218, 0.2) !important; /* Agrega un sombreado alrededor del input */
}

#img-post {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: white;
  width: 100%;

  object-fit: fill;
  aspect-ratio: 3 / 4;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: inherit;
}

.Comments {
  display: flex;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  /*border: solid 1px #915656;
  */border-radius: 8px;
  /*background-color: #fff;
   */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#style-7 {
  overflow-x: hidden;
}
