@font-face {
    font-family: courier;
    src: url('../../assets/Fonts/JosefinSans-Italic-VariableFont_wght.ttf');
}

.localpaws__map-container{
    font-family: courier;
}

.no-overflow {
    overflow: hidden !important;
  }
